@import "../../styles/variables";
@import "../../styles/mixins";

.chat {
    @include flex(column, nowrap);
    flex: 1 0 auto;
}

.log {
    @include flex(column, nowrap);
    flex: 1 0 auto;
    overflow: auto;
    background-color: $bg-tertiary;
    padding: 25px;
}

.input {
    @include flex(row, nowrap);
    flex: 0 0 auto;
}

.text {
    flex: 1 0 auto;
}

.sendBtn {
    flex: 0 1 75px;
}

.log #User {
    @include align(end, start);
}

.messageWrapper {
    @include flex(row, nowrap);
    margin: 10px 0px;
    gap: 10px;
}

.userName {
    flex: 0 1 auto;
    padding: 10px;
}

.userMessage {
    flex: 0 1 auto;
    background-color: $bg-secondary;
    padding: 10px 15px;
    border-radius: 20px;
    white-space: pre-wrap;
    border: solid;
    border-width: 1px;
    border-radius: 25px;
}

#User .userName {
    order: 2;
    border-color: $color-user;
}

#User .userMessage {
    order: 1;
    border-color: $color-user;
}

#Gemini .userName {
    border-color: $color-ai;
}

#Gemini .userMessage {
    border-color: $color-ai;
}