@import "../../styles/variables";
@import "../../styles/mixins";

.chat {
    @include flex(column, nowrap);
    height: 100vh; // Make .chat always 100vh
}

.log {
    @include flex(column, nowrap);
    overflow: auto;
    background-color: $bg-tertiary;
    padding: 25px;
    flex-grow: 1; // Make .log grow to take up the remaining space
}

.input {
    @include flex(row, nowrap);
    flex-shrink: 0; // Prevent .input from shrinking
}

.text {
    flex: 1 0 auto;
}

.sendBtn {
    flex: 0 1 75px;
}

.log #user {
    @include align(end, start);
}

.messageWrapper {
    @include flex(row, nowrap);
    margin: 10px 0px;
    gap: 10px;
}

.userName {
    flex: 0 1 auto;
    padding: 10px;
}

.userMessage {
    flex: 0 1 auto;
    background-color: $bg-secondary;
    padding: 10px 15px;
    border-radius: 20px;
    white-space: pre-wrap;
    border: solid;
    border-width: 1px;
    border-radius: 25px;
}

#user .userName {
    order: 2;
    border-color: $color-user;
}

#user .userMessage {
    order: 1;
    border-color: $color-user;
}

#model .userName {
    border-color: $color-ai;
}

#model .userMessage {
    border-color: $color-ai;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0px;
}
.userMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
}