@import "../../styles/variables";
@import "../../styles/mixins";

.tabs {
    @include flex(row, wrap);
    @include align(flex-start, center);
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    background-color: $bg-primary;
}

.tab {
    background-color: $bg-tertiary;
    padding: 15px;
    flex: 0 1 auto;
}

.addBtn {
    height: 35px;
    width: 35px;
    background-color: $bg-tertiary;
    border-color: $color-text;
    border-radius: 20px;
    color: $color-text;
    margin-left: 10px;
}